* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ccc;
}

.form {
    position: fixed;
    background: #1e3c72;
    height: 25rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    border-radius: 20px;

    color: white;
}

.form h1 {
    position: absolute;
    top: 2.5rem;
    left: 10rem;
}

.labels {
    width: 80%;
    height: 5rem;
    display: flex;
    flex-direction: column;
}

.labels label {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 5px;
}


.form input {
    width: 100%;
    padding: 5px 10px;

    height: 2.3rem;

    border-radius: 10px;

    outline-color: #2a5298;

    border: none;

    outline: none;

    transition: 0.3s;
}

.form input:focus {
    border-color: #2a5298;
}



.form button {
    padding: 5px;
    width: 20%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 2rem;

    color: #333;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.form button:hover {
    transform: scale(1.05);
    background-color: #2a5298;
    color: white;
}

.inputs-form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    justify-content: center;
    height: 80%;


}